{% extends "ProyectoCoderApp/base.html" %}
{% load static %}

{% block tituloPagina %}
Sobre Nosotros - ATR Garage
{% endblock %}

{% block contenidoPagina %}

<section class="bg-light py-5">
    <div class="container px-5">
        <div class="row gx-5 justify-content-center">
            <div class="col-lg-8">
                <br>
                <p><h1 class="text-center"><b>Mi Sitio:</b></h1></p>
                <br>
                <p>Este proyecto es el trabajo final del curso de Python dictado en CoderHouse. Debia realizarse en grupo, en mi caso lo hice solo, y habia que aplicar todo lo aprendido en clase. </p>
                <p>Puedes leer más sobre los detalles del proyecto en el archivo README</a></p>
                <br><br>
                <p><h2 class="text-center"><b>&#x1f4ac¿Quiénes soy?</b></h2></p>
                <br>
                <img src="media/genteoficina.jpg" class="rounded mx-auto d-block" alt="..." style="height: 200px;">
                <br>
                <h3 class="text-center">&#x2666<strong>Ignacio Mora</strong></h3>
                <p class="text-center">Tengo 31 años y naci en Montevideo - Uruguay. Actualmente me dedico a la venta de vehiculos pero decidi ingresar al mundo de la informatica que me gusta mucho.</p>
                <img src="media/mifoto.jpg" class="rounded mx-auto d-block" alt="..." style="height: 300px;">
                <br>
                <br>
                
            </div>
        </div>
    </div>
</section>
{% endblock %}
