{% extends 'ProyectoCoderApp/base.html' %}
{% load static %}

{% block tituloPagina %}
Inicio - App Coder
{% endblock %}

{% block contenidoPagina %}
<!-- Header-->
{% comment %} <header class="bg-danger py-5"> {% endcomment %}
    <header class="bg-dark py-5" style="background: url(https://fondosmil.com/fondo/78465.jpg) no-repeat center center / cover;">
        <div class="container px-5">
            <div class="row gx-5 justify-content-center">
                <div class="col-lg-6">
                    <div class="text-center my-5 mb-5 " style="height:500px;">
                       
                    </div>
                </div>
            </div>
        </div>
</header>
{% endblock %}