{% extends 'ProyectoCoderApp/base.html' %}
{% load static %}

{% block tituloPagina %}
{{accion}} - App Coder
{% endblock %}

{% block contenidoPagina %}
<section class="bg-light py-5">
    <div class="container px-5">
        <h2>Formulario veh&iacute;culo:</h2>
        <br>
        <div class="row gx-5 justify-content-center">
            <div class="col-lg-6">

                <div class="card">
                    <div class="card-header text-center">
                        {{accion}}
                    </div>
                    <div class="card-body">
                        
                        <form action="" method="post" enctype="multipart/form-data" class="form-control">
                            {% csrf_token %}

                              <div class="row g-3 mb-3 align-items-center">
                                <div class="col-2">
                                  <label for="Marca" class="col-form-label">Marca</label>
                                </div>
                                <div class="col-10">
                                    {{form.marca}}
                                </div>
                              </div>

                              <div class="row g-3 mb-3 align-items-center">
                                <div class="col-2">
                                  <label for="Modelo" class="col-form-label">Modelo</label>
                                </div>
                                <div class="col-10">
                                    {{form.modelo}}
                                </div>
                              </div>

                              <div class="row g-3 mb-3 align-items-center">
                                <div class="col-2">
                                  <label for="anio" class="col-form-label">A&ntilde;o</label>
                                </div>
                                <div class="col-10">
                                    {{form.anio}}
                                </div>
                              </div>

                              <div class="row g-3 mb-3 align-items-center">
                                <div class="col-2">
                                  <label for="anio" class="col-form-label">Precio</label>
                                </div>
                                <div class="col-10">
                                    {{form.precio}}
                                </div>
                              </div>

                              <div class="row g-3 mb-3 align-items-center">
                                <div class="col-2">
                                  <label for="id_imagen" class="col-form-label">Imagen</label>
                                </div>
                                <div class="col-10">
                                    {{form.imagen}}
                                </div>
                              </div>

                              <div class="row mb-3 align-items-center">
                                <div class= "col-12 text-center">
                                    <input type="submit" class="btn btn-primary" value="{{accion}}">
                                </div>
                              </div>
                        </form>
                    </div>
                </div>

            </div>
        </div>
    </div>
</section>
{% endblock %}